main {
    grid-area: mn;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas: "sm ow"
                        "sm cds";
}

.options-wrapper {
    @apply flex justify-between px-4;
    grid-area: ow;
}

