.App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'dm nv nv'
        'dm hd hd'
        'dm mn mn'
        'ft ft ft';
}
